<div class="sidebar shadow rounded p-4 mx-5">
  <p class="display-6 text-muted">
    Sidebar
  </p>
  <ul>
    <h3 class="text-muted">
      <%= link_to 'Home', root_path %>
    </h3>
    <li>More</li>
    <li>Words</li>
    <li>Here</li>
  </ul>
</div>
